// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);    

.title{
color:#3498db;
font-family:  'Rouge Script';
font-size:60px;
margin-left:40%;
}
.heading{
width:20%;
height:20%;
   display:inline-block;
border:1px solid black;
padding:3%;
margin-left:4%;
margin-top:37px;
line-height:20px;
font-family:'Metal Mania';
font-size:17px;
}

.c img{
    width: 140px;
    height: 130px;
    display: inline-block;
    overflow: hidden;
padding-left:100px;
padding-top:-60px;

}
body {
  
}
