// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);    

.title{
  color:#3498db;
  font-family:  'Rouge Script';
  font-size:60px;
  text-align:center;
}

.heading{
   width:200px;
   height:300px;
   display:inline-block;
   padding:10px;
   margin-left:20px; 
   margin-bottom:20px;
   background:white;
   border-radius:5px;
   box-shadow:1px 1px 2px rgba(0,0,0,0.2);
   vertical-align:top;
   font-family:'Metal Mania';
   font-size:17px;
}
.heading div { text-align:center; }
.imagediv img{
    width: 90%;
    height: 150px;
    padding:25px;
}

body {
   background-image: image-url("bg.png")
}
.wrapper
{
   width:20%;
}
.prise{
font-size:17px;
font-weight:bold;
line-height:40px;
}	
.pcategory{
float:right;
padding:10px;
}

.pname{
   background-color:#3498db;
   font-size:20px;
   color: #fff;
   padding: 5px;
   letter-spacing:1px;
}
.navbar-text pull-right{
background-color:#1E8BC3;
}
.alert alert-success{
background-color:#1E8BC3;
}

